{% extends "layout.html" %}

{% block content %}

<h2>About This App</h2>

<p class="description">
    This website helps users understand their daily
    nutrition needs by calculating personalized calorie
    and macro targets and letting them track what they eat.
</p>

<p>
    How the Site Works
</p>

<ul>
    <li>Enter your age, weight, height, sex, activity level, and goal</li>
    <li>The app calculates your TDEE</li>
    <li>It generates your recommended daily calories and macros</li>
    <li>Search for foods and log what you eat</li>
    <li>Your nutrition totals update based on your logs</li>
</ul>

{% endblock %}
